@model BloggInlämning.Models.BloggPost

<div class="new-post">
    <div class="jumbotron">
        <h2>Skapa nytt blogginlägg</h2>
    </div>

    <form id="new-post-form" asp-controller="Home" asp-action="NewPost" class="text-center">

        <div class="form-group" align="center">
            <label asp-for="Heading">Rubrik:</label>
            <input asp-for="Heading" class="form-control" placeholder="Skriv in rubrik">
            <span asp-validation-for="Heading" class="alert-danger"></span>
        </div>

        <div class="form-group" align="center">
            <label asp-for="CategoryId">Kategori:</label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categories">
                <option selected disabled>Välj en kategori</option>
            </select>
            <span asp-validation-for="CategoryId" class="alert-danger"></span>
        </div>

        <div class="form-group blogg-text-div" align="center">
            <label asp-for="Text">Text:</label>
            <textarea asp-for="Text" class="form-control blogg-text" placeholder="Din bloggtext..."></textarea>
            <span asp-validation-for="Text" class="alert-danger"></span>
        </div>

        <button type="submit" id="btnSubmit" class="btn btn-default">Skapa blogginlägg</button>
        <br />
        @if (TempData["success"] != null)
            {
            <span id="span-success" class="alert-success">@TempData["success"] <i class="fa fa-check"></i></span>
        }
    </form>
</div>
